<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>let's chat</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages">

    </div>


    <script type="text/javascript">

        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function (e){
            let data = JSON.parse(e.data)
            console.log('data:', data)


        }



    </script>

</body>
</html>